/* Home styles */
.home-title {
	font-family: 'Rubik', sans-serif;
	font-size: 5rem;
	font-weight: 700;
	text-shadow: 0.1em 0.1em 0.2em #333;
}
.home-subtitle {
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

/* Carousel styles */
.carousel-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: 100%;
	height:auto;
	background-color: #19381F;
	gap: 1rem;
}
.carousel-title {
	font-family: 'Rubik', sans-serif;
	font-size: 4rem;
	text-shadow: 0.1em 0.1em 0.6em white;
	font-weight: 600;
	
}
.carousel {
	display: block;
	width: 100%;
    text-align: center;
}
.carousel-movie-title,
.carousel-movie-year  {
	font-family: 'Rubik', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	font-style: italic;
}
.carousel img {
	width: 40rem;
	height: 22.5rem;

}
.carousel-btn-prev,
.carousel-btn-next {
	border: none;
	border-radius: 0.7rem;
	width: 40rem;
	height: 2rem;
	background-color: var(--middlegreen);
	color: var(--text);
	margin-bottom: .5rem;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	line-height: 1rem;
	box-shadow: 0.2vw 0.5vw 0px #888888;
	margin: 1vw 0.5vw;
	padding: 2vw 4vw;
	cursor: pointer;
}
.carousel-btn-prev:active,
.carousel-btn-next:active {
	box-shadow: none;
    position:relative;
    top:0.5vw;
}
.card-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	background-color: #9CC5A1;
}
/* Movie List styles */
.movie-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
}
/* Movie Card styles */
.moviecard-title {
	font-family: 'Rubik', sans-serif;
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 0.5rem;
	width: 100%;
	text-shadow: 0.1em 0.1em 0.2em #333;
}
.movie-card {
	display: flex;
	flex-direction: column;
	flex: auto;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem;
	width: 22rem;
	height: auto;
	margin: 0 auto;	
}
.movie-title {
	font-family: 'Rubik', sans-serif;
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 0.5rem;
}
.movie-poster {
	width: 23rem;
	height: 35rem;
}
.movie-info {
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 0;
	
}
.btn-add,
.btn-remove {
	font-family: 'Rubik', sans-serif;
	background-color: var(--darkgreen);
	color: var(--text);

	margin-bottom: 1rem;
}

@media (min-width: 200px) and (max-width: 767px){
	.carousel-container {
		display: none;
	}
}